<robot name="digit">
    <link name="world"/>

    <link name="digit_base">
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
            <mesh filename="../../meshes/digit_bottom.stl"/>
            </geometry>
            <material name="digit_bottom_material">
            <color rgba="0.30196078431372547213 0.30196078431372547213 0.30196078431372547213 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
            <mesh filename="../../meshes/digit_bottom.stl"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
            <mesh filename="../../meshes/digit_top.stl"/>
            </geometry>
            <material name="digit_top_material">
            <color rgba="0.30196078431372547213 0.30196078431372547213 0.30196078431372547213 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
            <mesh filename="../../meshes/digit_top.stl"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="8.673617379884035e-18 0.001472627145500901 0" rpy="0 -0 0" />
            <geometry>
            <mesh filename="../../meshes/acrylic_window.stl"/>
            </geometry>
            <material name="acrylic_window_material">
            <color rgba="0.91764705882352937127 0.91764705882352937127 0.91764705882352937127 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="8.673617379884035e-18 0.001472627145500901 0" rpy="0 -0 0" />
            <geometry>
            <mesh filename="../../meshes/acrylic_window.stl"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
            <mesh filename="../../meshes/digit_center.stl"/>
            </geometry>
            <material name="digit_center_material">
            <color rgba="0.30196078431372547213 0.30196078431372547213 0.30196078431372547213 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
            <mesh filename="../../meshes/digit_center.stl"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="5.634554107580709e-09 -0.00436102000365889 0.011130348858812571" rpy="0 0 0"/>
            <mass value="0.011198578791898805909" />
            <inertia ixx="1.9644553798333779512e-06" ixy="-2.4770919459996182574e-12"  ixz="1.0361463195467100313e-11" iyy="1.6079833449569471555e-06" iyz="3.8106738589359573195e-09" izz="1.878363607520652625e-06" />
        </inertial>
    </link>

    <joint name="world_digit" type="fixed">
        <origin xyz="0 0 0" rpy="1.57079632 0 0" />
        <parent link="world" />
        <child link="digit_base" />
        <axis xyz="0 0 0"/>
    </joint>

    <link name="gel">
        <fem>
        <origin xyz="5.204170427930421e-18 0.0014725457064428968 0.0041499999999999974" rpy="0 3.141592653589793116 0" />
        <density value="1e3"/>
        <youngs value="1e6"/>
        <poissons value="0.3"/>
        <damping value="0.0"/>

        <!-- Soft body trembles for unknown reasons. TODO -->
        <attachDistance value="1.0e-3"/>
        
        <tetmesh filename="../../meshes/gel.tet"/>
        </fem>
    </link>

    <joint name="attach" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="digit_base" />
        <child link="gel" />
        <axis xyz="0 0 0"/>
    </joint>

</robot>
